@charset "UTF-8";
/* ARCHIVO VARIABLES */
/* SELECTOR UNIVERSAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif; }

/* -- PÁGINA HOME-- */
/* SECCIÓN ENCABEZADO */
.encabezado {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh; }
  .encabezado__logo {
    margin-left: 3%; }
    .encabezado__logo img {
      width: 20%; }
  .encabezado__main-menu {
    margin-right: 5%; }
    .encabezado__main-menu__lista {
      display: flex;
      list-style: none;
      justify-content: space-between;
      gap: 30px; }
      .encabezado__main-menu__lista li {
        display: inline-block; }
        .encabezado__main-menu__lista li a {
          text-decoration: none;
          color: black;
          font-weight: bolder; }
          .encabezado__main-menu__lista li a:hover {
            color: #750C00; }

/* SECCIÓN HERO */
.hero {
  height: 85vh;
  background-image: url("../img/air-jordan-mid-1-sneakers.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .hero__articulo {
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .hero__articulo__texto {
      color: white;
      background-color: #750C00;
      text-align: center;
      padding: 20px;
      animation-name: dance;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-delay: 1s; }

/* SECCIÓN PRODUCTOS */
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/crimson-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  animation-name: bg-move;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 1s; }
  .products__title {
    text-align: center;
    color: white;
    margin-bottom: 80px; }
  .products__carousel {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .products__carousel__display {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      gap: 10%; }
    .products__carousel img {
      width: 300px;
      border: 2px solid #750C00; }

.btn {
  background-color: #360500;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5%; }

/* PIE DE PÁGINA */
.pie-pagina {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1% 0 1% 0;
  background-image: url("../img/footer-background.jpg"); }
  .pie-pagina__parrafo {
    text-align: center;
    color: white; }
  .pie-pagina__redes img {
    width: 50px; }
  .pie-pagina__menu {
    order: -1;
    display: flex; }
    .pie-pagina__menu__lista {
      list-style-type: none; }
      .pie-pagina__menu__lista a {
        text-decoration: none;
        color: white; }
        .pie-pagina__menu__lista a:hover {
          color: #750C00; }

/* -- PÁGINA PRODUCTOS -- */
/* Product Display */
.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-image: url("../img/hoodie-background.jpg");
  background-size: cover;
  padding: 25px;
  animation-name: bg-move;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: 1s; }
  .product-display h1 {
    font-size: xx-large;
    margin: 50px 0 50px 0;
    color: white;
    background-color: #360500;
    padding: 10px;
    border-radius: 5px; }
  .product-display__lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'prod1 prod2 prod3' 'prod4 prod5 prod6';
    gap: 15px; }
  .product-display li {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #360500;
    padding: 15px;
    border-radius: 20px;
    gap: 5px; }
  .product-display img {
    width: 100%; }

/*
.product-display__lista{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
*/
#prod1 {
  grid-area: prod1; }

#prod2 {
  grid-area: prod2; }

#prod3 {
  grid-area: prod3; }

#prod4 {
  grid-area: prod4; }

#prod5 {
  grid-area: prod5; }

#prod6 {
  grid-area: prod6; }

/* --PÁGINA NOSOTROS-- */
.nosotros-info, .brand-info {
  display: flex;
  align-items: center;
  background-image: url("../img/hoodie-background.jpg");
  height: 85vh; }
  .nosotros-info img, .brand-info img {
    height: inherit; }
  .nosotros-info__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: white;
    background-color: #360500;
    text-align: center;
    padding: 20px 0 30px 0; }

/* --PÁGINA MARCAS-- */
.brand-info {
  flex-direction: column;
  background-image: url("../img/hoodie-background.jpg");
  padding: 50px; }
  .brand-info h1 {
    font-size: x-large;
    margin: 50px 0 50px 0;
    color: white;
    background-color: #360500;
    padding: 10px;
    border-radius: 5px; }
  .brand-info__display {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center; }
    .brand-info__display img {
      background-color: #360500;
      border: 2px solid #750C00;
      width: 600px; }

/* --PÁGINA CONTACTO-- */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/hoodie-background.jpg");
  height: 85vh;
  color: white; }
  .contact__form {
    background-color: #360500;
    padding: 25px; }
    .contact__form fieldset {
      padding: 25px;
      display: flex;
      flex-direction: column; }
    .contact__form input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      margin-bottom: 25px; }
    .contact__form input[type=email] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      margin-bottom: 25px; }
    .contact__form textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      margin-bottom: 25px; }
    .contact__form input[type=submit] {
      margin-bottom: 10px; }

/* MEDIA QUERYS */
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .products {
    height: 55rem; }
    .products__lista {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'prod1 prod2' 'prod3 prod4' 'prod5 prod6'; }
    .products-display__lista {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'prod1 prod2' 'prod3 prod4' 'prod5 prod6'; }
  .encabezado__logo img {
    width: 45%; }
  .hero {
    flex-direction: column;
    justify-content: center; }
  .products__carousel {
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .products__carousel__display {
      flex-direction: column;
      gap: 20px; }
      .products__carousel__display img {
        width: 200px; }
  .nosotros-info, .brand-info {
    height: 100vh; }
    .nosotros-info__texto p {
      margin: 30px 10px; }
    .nosotros-info img, .brand-info img {
      object-fit: cover;
      width: 50%;
      height: 100vh; }
  .brand-info__display {
    flex-direction: column;
    justify-content: center; }
    .brand-info__display li {
      width: 100%;
      text-align: center; }
    .brand-info__display img {
      height: 100%; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .products {
    height: 55rem; }
    .products__lista {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'prod1'  'prod2' 'prod3'  'prod4' 'prod5'  'prod6'; }
  .pie-pagina {
    flex-direction: column;
    text-align: center;
    gap: 30px; }
  .encabezado__logo a img {
    object-fit: contain;
    width: 150px;
    height: 100%; }
  .encabezado__main-menu__lista {
    text-align: center;
    flex-direction: column;
    gap: 13px; }
  .hero {
    flex-direction: column;
    justify-content: center; }
  .products__carousel {
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .products__carousel__display {
      flex-direction: column;
      gap: 20px; }
      .products__carousel__display img {
        width: 200px; }
  .nosotros-info, .brand-info {
    height: 100vh; }
    .nosotros-info__texto p {
      margin: 30px 10px; }
    .nosotros-info img, .brand-info img {
      object-fit: cover;
      width: 50%;
      height: 100vh; }
  .product-display__lista {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 'prod1'  'prod2' 'prod3'  'prod4' 'prod5'  'prod6'; }
  .brand-info__display {
    flex-direction: column;
    justify-content: center; }
    .brand-info__display li {
      width: 100%;
      text-align: center; }
    .brand-info__display img {
      height: 100%;
      width: 300px; } }

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .product-display {
    text-align: center; }
    .product-display__lista {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'prod1'  'prod2' 'prod3'  'prod4' 'prod5'  'prod6'; }
  .pie-pagina {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 10px 0 10px 0; }
  .encabezado__main-menu__lista {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 5px; }
  .encabezado__logo img {
    width: 50%; }
  .hero {
    flex-direction: column;
    justify-content: center;
    background-size: auto; }
    .hero__articulo {
      gap: 15px; }
  .products__carousel {
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .products__carousel__display {
      flex-direction: column;
      gap: 20px; }
      .products__carousel__display img {
        width: 200px; }
  .products {
    height: 55rem; }
  .nosotros-info, .brand-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; }
    .nosotros-info__texto p {
      margin: 30px 10px; }
    .nosotros-info img, .brand-info img {
      object-fit: cover;
      width: 100%;
      height: auto; }
  .brand-info h1 {
    text-align: center; }
  .brand-info__display {
    flex-direction: column;
    justify-content: center; }
    .brand-info__display li {
      width: 100%;
      text-align: center; }
    .brand-info__display img {
      height: 100%; } }

/* ANIMACIONES/TRANSICIONES */
@keyframes bg-move {
  0% {
    background-position: center; }
  25% {
    background-position: top; }
  50% {
    background-position: center; }
  75% {
    background-position: bottom; }
  100% {
    background-position: center; } }

@keyframes dance {
  0% {
    color: white;
    background-color: #750C00; }
  50% {
    color: #750C00;
    background-color: white; }
  100% {
    color: white;
    background-color: #750C00; } }
